---
import PageHeading from "../../components/PageHeading.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Videos"
      description="En esta sección encontrarás los videos más populares publicados en mi canal de YouTube."
    />
  </section>
</Layout>
