---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translations = useTranslations(lang);
---

<section class="px-7 lg:px-0 md:mt-7">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    {translations.about.header}
  </h2>
  {
    translations.about.paragraphs.map((paragraph: string) => (
      <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400 text-pretty">
        {paragraph}
      </p>
    ))
  }
</section>
