---
import SocialLinks from "../SocialLinks.astro";
import Button from "../buttons/Button.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translations = useTranslations(lang);
---

<section class="px-7 lg:px-0 md:mt-7">
  <div
    class="flex justify-between text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    <h2>{translations.contact.header}</h2>
    <Button color="green" text={translations.contact.availability} />
  </div>
  <p class="mt-4 text-base text-neutral-600 dark:text-neutral-400 text-pretty">
    {translations.contact.description}
  </p>
  <div class="mt-4">
    <a
      class="text-neutral-900 dark:text-white text-base underline"
      href="mailto:carlosmiguel.dev06@gmail.com"
    >
      carlosmiguel.dev06@gmail.com
    </a>
  </div>
  <div class="mt-4">
    <SocialLinks />
  </div>
</section>
