---
import "../assets/styles/global.css";
import "../assets/styles/main.css";
import { SEO } from "astro-seo";
import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";
import SquareLines from "../components/SquareLines.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
    <SEO
      title="Carlos Miguel | Desarrollador Web FullStack"
      canonical={Astro.url.href}
    />
    <ClientRouter />

    <!-- Used to add dark mode right away, adding here prevents any flicker -->
    <script is:inline>
      if (localStorage.getItem("darkMode") == "true") {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body class="font-inter antialiased bg-white dark:bg-neutral-950">
    <SquareLines />
    <Header />
    <main class="max-w-xl mx-auto mb-12">
      <slot />
    </main>
    <script src="../assets/ts/main.ts"></script>
  </body>
</html>
